{%extends "index.html"%}
{%load static%}
{%block body%}

      <!-- Page Header End -->
      <div class="container-xxl py-5 page-header position-relative mb-5">
        <div class="container py-5">
          <h1 class="display-2 text-white animated slideInDown mb-4">
            About Us
          </h1>
        </div>
      </div>
      <!-- Page Header End -->

      <!-- About Start -->
      <div class="container-xxl py-5">
        <div class="container">
          <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
              <h1 class="mb-4">Who We Are</h1>
              <p
                class="mb-4"
                style="
                  line-height: 1.5rem;
                  text-align: justify;
                  letter-spacing: 0.3px;
                ">
                The foundation stone of education was laid in 1956 by Dr. S.
                Radhakrishnan, who was the Vice President of India at that time.
              </p>
              <p
                class="mb-4"
                style="
                  line-height: 1.5rem;
                  text-align: justify;
                  letter-spacing: 0.3px;
                ">
                In 1976, the first branch of DPIS was established in India, This
                marked the beginning of the school's expansion. The passage
                mentions that the growth of DPIS is a testament to the strength
                of the brand and the management behind it. This suggests that
                DPIS has a strong reputation in the field of education.
              </p>
              <p
                class="mb-4"
                style="
                  line-height: 1.5rem;
                  text-align: justify;
                  letter-spacing: 0.3px;
                ">
                The passage emphasizes the school's commitment to excellence,
                and it describes the "zest and spirit of excellence" that has
                remained unchanged throughout the years. The passage concludes
                by likening the DPIS family to the traditional joint family
                system in India, perhaps highlighting the sense of unity and
                shared values among its members. The passage concludes by
                likening the DPIS family to the traditional joint family system
                in India, perhaps highlighting the sense of unity and shared
                values among its members.
              </p>
              <div class="row g-4 align-items-center">
                <div class="col-sm-6">
                  <a
                    class="btn rounded-pill py-3 px-5"
                    style="background-color: #005e33; color: white"
                    href=""
                    >Read More</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
              <div class="row">
                <div class="col-12 text-center">
                  <img
                    class="img-fluid w-75 rounded-circle bg-light p-3"
                    src="{%static 'img/about3.webp'%}"
                    alt="" />
                </div>
                <div class="col-6 text-start" style="margin-top: -150px">
                  <img
                    class="img-fluid w-100 rounded-circle bg-light p-3"
                    src="{%static 'img/about2.webp'%}"
                    alt="" />
                </div>
                <div class="col-6 text-end" style="margin-top: -150px">
                  <img
                    class="img-fluid w-100 rounded-circle bg-light p-3"
                    style="height: 100%"
                    src="{%static 'img/about2.jpg'%}"
                    alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- About End -->

      <!-- Call To Action Start -->
      <div class="container-xxl py-5">
        <div class="container">
          <div class="bg-light rounded">
            <div class="row g-0">
              <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div
                  class="h-100 d-flex flex-column justify-content-center p-5">
                  <h1 class="mb-4">Our Vision</h1>
                  <p
                    class="mb-4"
                    style="line-height: 1.7rem; text-align: justify">
                    DPIS envisions pioneering a new paradigm of excellence in
                    school education. This paradigm is focused on nurturing and
                    awakening the unique individuality of every child. The
                    vision aims to inspire children to grow and develop by
                    fostering innovation and passionate pursuit of scholarly
                    interests and intellectual awareness.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div
                  class="h-100 d-flex flex-column justify-content-center p-5">
                  <h1 class="mb-4">Our Mission</h1>
                  <p
                    class="mb-4"
                    style="line-height: 1.7rem; text-align: justify">
                    DPIS is dedicated to creating an educational environment
                    where each child is recognized as a unique, exceptional, and
                    powerful individual. The mission emphasizes the goal of
                    helping children achieve the highest level of academic
                    excellence. This is to be achieved through rigorous learning
                    experiences that promote inquiry, innovation, and
                    creativity. Additionally, DPIS aims to cultivate an
                    awareness in children about their environment and the world
                    around them, making them sensitive and responsible global
                    citizens.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Call To Action End -->

      <!-- Team Start -->
      <div class="container-xxl py-5">
        <div class="container">
          <div
            class="text-center mx-auto mb-5 wow fadeInUp"
            data-wow-delay="0.1s"
            style="max-width: 600px">
            <h1 class="mb-3">Our Core Team Members</h1>
          </div>
          <div class="row g-4">


            {%for i in teamdata%}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="team-item position-relative">
                <img
                  class="img-fluid rounded-circle w-75"
                  src="{{i.image.url}}"
                  alt="" />
                <div class="team-text">
                  <h3 style="font-size: 1.2rem">{{i.name}}</h3>
                  <p>{{i.designation}}</p>
                  <div class="d-flex align-items-center">
                    <a class="btn btn-square btn-primary mx-1" href=""
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a class="btn btn-square btn-primary mx-1" href=""
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a class="btn btn-square btn-primary mx-1" href=""
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </div>
                </div>
                <p style="width: 50%; text-align: left">
                  {{i.description}}
                </p>
              </div>
            </div>
            {%endfor%}

            
            <!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="team-item position-relative">
                <img
                  class="img-fluid rounded-circle w-75"
                  src="{%static 'img/team/2.webp'%}"
                  alt="" />
                <div class="team-text">
                  <h3 style="font-size: 1.2rem">Mr. Nilesh Vyas</h3>
                  <p>Secretory</p>
                  <div class="d-flex align-items-center">
                    <a class="btn btn-square btn-primary mx-1" href=""
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a class="btn btn-square btn-primary mx-1" href=""
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a class="btn btn-square btn-primary mx-1" href=""
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="team-item position-relative">
                <img
                  class="img-fluid rounded-circle w-75"
                  src="{%static 'img/team/3.webp'%}"
                  alt="" />
                <div class="team-text">
                  <h3 style="font-size: 1.15rem">Mr. Sridhar Duleri</h3>
                  <p>Joint Secretary</p>
                  <div class="d-flex align-items-center">
                    <a class="btn btn-square btn-primary mx-1" href=""
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a class="btn btn-square btn-primary mx-1" href=""
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a class="btn btn-square btn-primary mx-1" href=""
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <!-- Team End -->

      <!-- Testimonial Start -->
      <div class="container-xxl py-5">
        <div class="container">
          <div
            class="text-center mx-auto mb-5 wow fadeInUp"
            data-wow-delay="0.1s"
            style="max-width: 600px">
            <h1 class="mb-3">What Parents Say</h1>
          </div>
          <div
            class="owl-carousel testimonial-carousel wow fadeInUp"
            data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-5">
              <p
                class="fs-5"
                style="font-size: 1rem !important; text-align: justify">
                Attending DPIS has been an enriching experience. The diverse
                range of courses and extracurricular activities have allowed me
                to explore my interests and develop valuable skills for the
                future.
              </p>
              <div
                class="d-flex align-items-center bg-white me-n5"
                style="border-radius: 50px 0 0 50px">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="{%static 'img/testimonial-2.webp'%}"
                  style="width: 90px; height: 90px" />
                <div class="ps-3">
                  <h3 class="mb-1">Riya Sharma</h3>
                  <span>Delhi</span>
                </div>
                <i
                  class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
              </div>
            </div>
            <div class="testimonial-item bg-light rounded p-5">
              <p
                class="fs-5"
                style="font-size: 1rem !important; text-align: justify">
                I am incredibly impressed with the quality of education and
                support my child receives at DPIS . The dedicated teachers and
                nurturing environment have made a positive impact on my child's
                academic and personal growth.
              </p>
              <div
                class="d-flex align-items-center bg-white me-n5"
                style="border-radius: 50px 0 0 50px">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="{%static 'img/testimonial-1.webp'%}"
                  style="width: 90px; height: 90px" />
                <div class="ps-3">
                  <h3 class="mb-1">Vinod</h3>
                  <span>Delhi</span>
                </div>
                <i
                  class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
              </div>
            </div>
            <div class="testimonial-item bg-light rounded p-5">
              <p
                class="fs-5"
                style="font-size: 1rem !important; text-align: justify">
                Teaching at DPIS has been a rewarding journey. The school's
                commitment to fostering a culture of learning and excellence has
                made it a joy to work with such motivated and talented students.
              </p>
              <div
                class="d-flex align-items-center bg-white me-n5"
                style="border-radius: 50px 0 0 50px">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="{%static 'img/testimonial-3.webp'%}"
                  style="width: 90px; height: 90px" />
                <div class="ps-3">
                  <h3 class="mb-1">Ranjan Sinha</h3>
                  <span> Faridabad</span>
                </div>
                <i
                  class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial End -->

      {%endblock%}