{%extends "index.html"%}
{%load static%}
{%block body%}

      <!-- Page Header End -->
      <div class="container-xxl py-5 page-header position-relative mb-5">
        <div class="container py-5">
          <h1 class="display-2 text-white animated slideInDown mb-4">
            ADMISSION
          </h1>
        </div>
      </div>
      <!-- Page Header End -->

      <!-- Appointment Start -->
      <div class="container-xxl py-5">
        <div class="container">
          <div class="bg-light rounded">
            <div class="row g-0">
              <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                <div
                  class="h-100 d-flex flex-column justify-content-center p-5">
                  <h1 class="mb-4">Enquiry Form</h1>
                  <form>
                    <div class="row g-3">
                      <div class="col-sm-6">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0"
                            id="gname"
                            placeholder="Gurdian Name" />
                          <label for="gname">Parent Name</label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0"
                            id="gname"
                            placeholder="Gurdian Name" />
                          <label for="gname">Child Name</label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0"
                            id="gname"
                            placeholder="Gurdian Name" />
                          <label for="gname">Phone Number</label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-floating">
                          <input
                            type="email"
                            class="form-control border-0"
                            id="gmail"
                            placeholder="Gurdian Email" />
                          <label for="gmail">Email</label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0"
                            id="gname"
                            placeholder="Gurdian Name" />
                          <label for="gname">Address</label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0"
                            id="gname"
                            placeholder="Gurdian Name" />
                          <label for="gname">City</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating">
                          <textarea
                            class="form-control border-0"
                            placeholder="Leave a message here"
                            id="message"
                            style="height: 100px"></textarea>
                          <label for="message">Message (Optional)</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <button
                          class="btn w-100 py-3"
                          style="background-color: #005e33; color: white"
                          type="submit">
                          Submit
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Appointment End -->

      {%endblock%}