{%extends "index.html"%}
{%load static%}
{%block body%}

      <!-- Page Header End -->
      <div class="container-xxl py-5 page-header position-relative mb-5">
        <div class="container py-5">
          <h1 class="display-2 text-white animated slideInDown mb-4">Paynow</h1>
        </div>
      </div>
      <!-- Page Header End -->

      <!-- donate start here -->
      <div class="row" style="width: 90%; margin: auto">
        <div class="donate-container">
          <p style="text-align: justify">
            We are working on a mission to change the perspective for Home and
            Homemakers. The deep seeded disrespect mothers, wives, housewives,
            househusband, stay-at-home mom or dad also known as Homemakers face
            is demoralizing which slowly seeps away their self-confidence and
            self-respect, leading to mental health issues. The reason behind the
            same is the wrong policy we follow which accepts only paid work as
            work. This declares anything we do in a Home as worthless as that is
            not done for money.
          </p>
          <p style="text-align: justify">
            We are working to create awareness and gain back respect for our
            mothers back in the society. We did our first ‘Familymaker Awards –
            Honoring the work of Homemakers’ on 8th October 2023 and plan to
            take it across India and World. We would also be doing training
            programs to educate people on making happier families in Homes.
          </p>
          <p style="text-align: justify">
            Your donation would help us reach out to larger audience and make
            happier families and homes worldwide.
          </p>
          <div class="payment-info">
            <p>Paytm: +91-9XXXXXXXXX</p>
            <p>Vision Search</p>
            <p>Current A/C No: 0148002100426558</p>
            <p>IFSC Code: PUNB0014800</p>
          </div>
        </div>
      </div>
      <!-- donate ends here -->

      {%endblock%}